<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Произошла ошибка: {{ status_text }}</title>
</head>
<body>
    <div style="margin: auto; text-align: center;">
      <h1>Упс! Возникла ошибка!</h1>
      <h2>Don't panic!</h2>
      <a href="http://school.smirik.ru">
      <img src="http://school.smirik.ru/uploads/dont_panic.jpg" width="500" alt="Don't panic!" border="0">
      </a>
    </div>
</body>
</html>