/web/bundles/
/web/uploads/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/parameters.yml
/src/*
/web/media
.DS_Store
.idea/
build.sh
routes.sh
composer-dev.json
/bin
/composer.phar
/web/css
/web/js
