/web/bundles/
/web/uploads/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/propel/sql
/app/config/parameters.ini
/app/config/parameters.yml
/web/media
.DS_Store
.idea/
.*~
build.sh
routes.sh
composer-dev.json
composer-dev.lock
/bin
/composer.phar
/web/css
/web/js

/src/Smirik/CoreBundle/Model/om
/src/Smirik/CoreBundle/Model/map

/src/Smirik/AdminBundle
/src/Smirik/BootstrapBundle
/src/Smirik/ConfigBundle
/src/Smirik/ContentBundle
/src/Smirik/CourseBundle
/src/Smirik/ExamBundle
/src/Smirik/PropelAdminBundle
/src/Smirik/QuizBundle

src/Smirik/CoreBundle/Resources/public/unify/img

Capfile
app/config/*.rb
