/web/bundles/
/web/uploads/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/config/parameters.yml
/web/media
.DS_Store
.idea/
.*~
build.sh
routes.sh
composer-dev.json
/bin
/composer.phar
/web/css
/web/js

/src/Smirik/AdminBundle
/src/Smirik/BootstrapBundle
/src/Smirik/ConfigBundle
/src/Smirik/ContentBundle
/src/Smirik/CourseBundle
/src/Smirik/ExamBundle
/src/Smirik/PropelAdminBundle
/src/Smirik/QuizBundle

/unify