parameters:
  database_driver: pdo_mysql
  database_host: localhost
  database_name: dbname
  database_user: root
  database_password: 
  
  mailer_transport: smtp
  mailer_host: localhost
  mailer_user: null
  mailer_password: null
  
  locale: ru
  secret: 12345678hashahasash