li.content p { margin: 0px; padding: 0px; color: #404040; }
div.category { color: gray; font-size: 0.8em; margin: 0px; padding: 0px; }

div.item { margin-bottom: 20px; }
div.description { font-style: italic; margin: 10px 0;}
img.thumb { border: 0px; float: left; margin-right: 15px; }

footer { clear: both; margin: auto; text-align: center; }

body { background: url('../uploads/bg_tile.png') }

div.content {
  background-color: white;
  margin-bottom: 30px;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

a.ajax { font-size: 1.1em; text-decoration: none; border-bottom: 1px dashed; }

textarea.tinymce {
	width: 80%;
	height: 400px; 
}