{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block header %}<h1>Профиль</h1>{% endblock %}

{% block content %}
    {% for key, message in app.session.flashbag.all() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
