{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block header %}<h1>Профиль <small>регистрация, вход, обновление</small></h1>{% endblock %}

{% block body %}
{% for key, message in app.session.getFlashes() %}
<div class="{{ key }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% endblock %}
