{% extends 'SmirikCoreBundle::layout.html.twig' %}

{% block header %}
    <div class="span9">
            <span>LMS42</span>
            <p>{{ 'New way for e-learning'|trans }}. </p>
    </div>
    <a href="#" class="btn-buy hover-effect">Demo</a>
{% endblock %}

{% block content %}
    {% for course in courses %}
        {% include 'SmirikCoreBundle:Course:_card.html.twig' with { 'index': loop.index } %}
    {% endfor %}
{% endblock %}