<div class="header">
    <div class="container">

        <div class="logo">
            <h2><a href="{{ path('homepage') }}">LOGO</a></h2>
            <!--<a href="{{ path('homepage') }}">
                Logo
                <img class="" alt="Logo" id="logo-header" src="{{ asset('/bundles/smirikcore/unify/img/logo1-default.png') }}" alt="">
            </a>-->
        </div>

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav top-2">

                        <li class="active">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                Home
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="index.html">Option1: Landing Page</a></li>
                                <li><a href="page_home.html">Option2: Header Option</a></li>
                            </ul>
                            <b class="caret-out"></b>
                        </li>

                        {% render controller('SmirikCoreBundle:Default:navigation') %}

                        <li class="hide"><a class="search"><i class="search-btn icon-search"></i></a></li>
                    </ul>
                    <div class="search-open" style="display: none;">
                        <div class="input-append">
                            <form>
                                <input type="text" placeholder="Search" class="span3">
                                <button class="btn-u" type="submit">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div>
