p a { text-decoration: underline }
p a:hover { text-decoration: none; color: inherit; }

div#signin_modal {
    width: 352px;
    margin-left: -100px;
}

.header {
    margin-top: -60px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: inherit;
}

.navbar { position: relative; z-index: 101; }

footer {
    margin: 0 auto;
    text-align: center;
}

ol.white {
    color: white;
}

body {
    padding-top: 10px;
}

div.modal-backdrop {
    z-index: 1000 !important;
}

